@use '../../utiles.scss' as *;
.iconContainer {
  // border: 1px solid red;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0%;
  @include respond(port) {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    right: 6.5%;
    transform: translate(0);
  }
}
