@use '../../utiles.scss' as *;
.add {
  // border: 2px solid blue;
  position: absolute;
  top: 47%;
  right: -7.35rem;
  @include respond(port) {
    top: 48%;
    right: 52%;
  }
  &_curve {
    background-color: #350965;
    width: 12em;
    height: 2.5em;
    border-radius: 50% / 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: rotate(90deg);
    //     clip-path: ellipse(13% 40% at 0% 50%);
    @include respond(port) {
      display: none;
    }
    &_details {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      right: 5rem;
      top: -3.5rem;
      @include respond(port) {
        // border: 1px solid gray;
        flex-direction: row;
        transform: rotate(180deg);
        top: -1rem;
        right: -4.3rem;
      }

      .icon {
        background-color: #7e1aa6;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid white;
        font-size: 1rem;
      }
      p {
        font-size: 1.4rem;
        margin: 1em 0;
        color: white;
        @include respond(port) {
          color: #7e1aa6;
          font-weight: bold;
          margin: 0 1.2em;
          transform: rotate(-180deg);
        }
      }
    }
  }
}
